.snack-border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
}

.progrssbar-div {
  min-width: 350px;
  margin-top: 15px;
  border-radius: 4px;
}

.progressBar {
  border-radius: 4px;
}
